<a href="https://colab.research.google.com/github/DokinAlex/python/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%92%D0%B2%D0%BE%D0%B4%D0%BD%D0%B0%D1%8F_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D1%8F_%22%D0%9A%D1%83%D1%80%D1%81_%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BD%D0%B0_Python%2C_Pandas_%D0%B4%D0%BB%D1%8F_Data_Science_%D1%87%D0%B0%D1%81%D1%82%D1%8C_4%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Cesencom, Центр Системно-Инженерных Компетенций, ООО "Цесинком"

#**Курс "Программирование на Python, Pandas Pandas для Data Science часть 4"**

##Высокопроизводительная обработка данных в Pandas. 
Pandas — более новый пакет, надстройка над библиотекой NumPy, обеспечивающий эффективную реализацию класса DataFrame . Объекты DataFrame — многомерные массивы с метками для строк и столбцов, а также зачастую с неоднородным типом данных и/или пропущенными данными. Помимо удобного интерфейса для хранения маркированных данных, библиотека Pandas реализует множество операций для работы с данными хорошо знакомых пользователям фреймворков баз данных и электронных таблиц.

## 1. Установка и использование библиотеки Pandas.
Библиотека Pandas, особенно ее объекты Series и DataFrame ,
основана на структурах массивов библиотеки NumPy и обеспечивает эффективную работу над задачами маркирование данных, работа с пропущенными данными, группировки, создание сводных таблиц и т.д. Такие операции являются важной частью анализа данных
с меньшей степенью структурированности, содержащихся во многих формах окружающего мира.

In [ ]:
import pandas as pd # пакет Pandas импортируем под псевдонимом pd
pd.__version__

'1.3.5'

##2. Знакомство с объектами библиотеки Pandas

 Библиотека Pandas - это библиотека Python, содержащая высокоуровневые структуры данных и инструменты, которые были созданы, что бы помочь осуществить полноценных анализ данных.

Фундаментальные структуры данных библиотеки
Pandas: классами `Series` , `DataFrame` и `Index`.

###2.1 Объект Series библиотеки Pandas

#### 2.1.1 Объект `Series` библиотеки Pandas как одномерный массив индексированных данных

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Объект `Series` служит адаптером как
для последовательности значений, так и последовательности индексов, к которым
можно получить доступ посредством атрибутов `values` и `index`. 
*   `values `- представляет собой  массив NumPy
*   `index` - массивоподобный объект типа pd.Index

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[1] # обращаться по соответствующему им индексу

0.5

In [ ]:
data[1:3] # с помощью среза

1    0.50
2    0.75
dtype: float64

Индекс массива NumPy, используемый для доступа к значениям, — целочисленный и *описывается неявно*, индекс объекта Series библиотеки Pandas *описывается явно*
и связывается со значениями. Такой индекс не должен быть целым числом, а может состоять из значений любого нужного типа.

####2.1.2 Объект `Series` как обобщенный массив NumPy

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                  index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b'] # при этом доступ к элементам работает обычным образом

0.5

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                    index=[2, 5, 3, 7]) # можно применять индексы, состоящие из несмежных или непоследовательных значений
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

0.5

####2.1.3 Объект Series как специализированный словарь

Объект Series библиотеки Pandas можно рассматривать как специализированную разновидность словаря языка Python.

In [ ]:
population_dict = {'California': 38332521,
                        'Texas': 26448193,
                        'New York': 19651127,
                        'Florida': 19552860,
                        'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population['California'] # возможен обычный доступ к элементам, как для словаря

38332521

In [ ]:
population['California':'Illinois'] # объект Series поддерживает характерные для массивов операции, такие как срезы

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

####2.1.4 Создание объектов `Series`
Все способы создания объектов `Series` представляют собой различные варианты следующего синтаксиса:

`pd.Series(data, index=index)` - где `index` — необязательный аргумент, а `data` может быть одной из множества сущностей

In [ ]:
# data может быть списком или массивом NumPy, тогда index по умолчанию целочисленная последовательность
pd.Series([1, 4, 6])

0    1
1    4
2    6
dtype: int64

In [ ]:
# data может быть скалярным значением, которое будет повторено несколько раз для заполнения заданного индекса
pd.Series(3, index=[100, 200, 300])

100    3
200    3
300    3
dtype: int64

In [ ]:
# data может быть словарем, в котором index является отсортированными ключами этого словаря
pd.Series({10:'a', 20:'b', 30:'c'})

10    a
20    b
30    c
dtype: object

In [ ]:
# индекс можно указать вручную, если необходимо получить другой результат, 
# объект Series заполняется только заданными явным образом ключами
pd.Series({10:'a', 20:'b', 30:'c'}, index=[30, 20, 40])

30      c
20      b
40    NaN
dtype: object

###2.2 Объект DataFrame библиотеки Pandas

####2.2.1 Объект DataFrame как обобщенный массив NumPy
`DataFrame` — аналог двумерного массива с гибкими индексами строк и гибкими именами столбцов. Объект `DataFrame`
можно рассматривать как упорядоченную последовательность выровненных объектов `Series`.

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict) # создадим новый объект Series
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
population_dict = {'California': 38332521,
                      'Texas': 26448193,
                      'New York': 19651127,
                      'Florida': 19552860,
                      'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
states = pd.DataFrame({'population': population,
                            'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

У объекта `DataFrame` имеется атрибут `index` , обеспечивающий доступ к меткам индекса:

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Помимо этого, у объекта `DataFrame` есть атрибут `columns` , представляющий собой содержащий метки столбцов объект `Index` :

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

####2.2.2 Объект DataFrame как специализированный словарь
`DataFrame` можно рассматривать как специализированный словарь. Если словарь задает соответствие ключей значениям, то `DataFrame` задает соответствие имени столбца объекту `Series` с данными этого столбца.

In [ ]:
states['area'] # запрос данных по атрибуту 'area' вернет объект Series

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
weight=pd.Series([172,180,185,190],index=('Иванов','Петрова','Сидоров','Козлов')) 
height=pd.Series([72,75,78,85],index=('Иванов','Петрова','Сидоров','Козлов'))
name=pd.Series(['Иван','Марья','Федор','Никита'],index=('Иванов','Петрова','Сидоров','Козлов'))
students = pd.DataFrame({'weight': weight,
                            'height': height,
                              'name':name})
students

         weight  height    name
Иванов      172      72    Иван
Петрова     180      75   Марья
Сидоров     185      78   Федор
Козлов      190      85  Никита

####2.2.3 Создание объектов DataFrame
Существует несколько способов создания объектов DataFrame библиотеки Pandas

**Из одного объекта Series.** Объект DataFrame — набор объектов Series . DataFrame, состоящий из одного столбца, можно создать на основе одного объекта Series :

In [ ]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

**Из списка словарей.** Любой список словарей можно преобразовать в объект DataFrame .

In [ ]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

**Из словаря объектов Series.** Объект DataFrame также можно создать на основе словаря объектов Series :

In [ ]:
pd.DataFrame({'population': population,'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

**Из двумерного массива NumPy.** Если у нас есть двумерный массив данных, можно создать объект DataFrame с любыми заданными именами столбцов и инде­ксов. Для пропущенных значений будет использоваться по умолчанию целочисленный индекс:

In [ ]:
import numpy as np

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.537645  0.067147
b  0.026116  0.981137
c  0.493029  0.634181

**Из структурированного массива NumPy.** Объект DataFrame библиотеки Pandas ведет себя во многом аналогично структурированному массиву и может быть создан непосредственно из него:

In [ ]:
AF = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
AF

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [ ]:
pd.DataFrame(AF)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

###2.3 Объект Index библиотеки Pandas.
Объект `Series`, так и объект `DataFrame` содержат явный индекс, обеспечивающий возможность ссылаться на данные и модифицировать их. Объект `Index` можно рассматривать или как неизменяемый массив, или как упорядоченное множество.

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

####2.3.1 Объект Index как неизменяемый массив

In [ ]:
ind[1] # для извлечения из него значений или срезов можно использовать стандартную нотацию индексации

3

In [ ]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

У объектов `Index` есть атрибуты, аналогичные массивам `NumPy`:

In [ ]:
print('Количество элементов',ind.size)
print('Размерность',ind.shape)
print('Количество осей',ind.ndim)
print('Тип элементов индекса',ind.dtype)

Количество элементов 5
Размерность (5,)
Количество осей 1
Тип элементов индекса int64

Объекты `Index` нельзя модифицировать стандартными средствами.

####2.3.2 Index как упорядоченное множество
Объекты библиотеки Pandas спроектированы с прицелом на упрощение таких операций, как соединения наборов данных, зависящие от многих аспектов арифметики множеств.

In [ ]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA.intersection(indB) # пересечение

Int64Index([3, 5, 7], dtype='int64')

In [ ]:
indA.union(indB) # объединение

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [ ]:
indA.symmetric_difference(indB) # симметричная разность

Int64Index([1, 2, 9, 11], dtype='int64')